body {
    background-color: #FAFDFF;
}

/* navbar CSS */
.inline-block {
    display: inline-block;
    vertical-align: top;
  }
  
  #logo {
    width: 23%;
    padding: 1%;
    text-align: center;
  }
  
  nav {
    text-align: end;
    width: 73%;
    padding: 1%;
    background-color: #C8D9E3;
  }
  
  nav ul {
    display: inline-block;
    vertical-align: top;
    padding: 0;
  }

  nav li {
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    }  

/* hero image CSS */
.heroImg {
    height: 600px;
    padding: 25px;
  }
  
#cat {
    height: 600px;
    padding: 25px;
    border-radius: 50%;
}

  .content {
    width: 500px;
    margin: 0 auto;
  }

  p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* footer CSS */
footer {
    text-align: end;
    width: 73%;
    padding: 1%;
    background-color: #373738;
  }
  
  footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 0;
  }
  
  footer li {
    padding: 10px;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }  
