body {
    background-color: #FAFDFF;
}

/* navbar CSS */

nav {
    height: 100px;
    width: 73%;
    padding: 1%;
    background-color: #C8D9E3;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

#logo {
    height: auto;
    width: 23%;
    padding: 1%;
    text-align: center;
    display: inline;
}

ul {
    width: 50%;
    margin-left: auto;
}

li {
    display: inline;
    padding: 50px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/* hero image CSS */

#cat {
    height: 600px;
    padding: 25px;
    border-radius: 50%;
}

.content {
    width: 500px;
    margin: 0 auto;
}

p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* footer CSS */

footer {
    height: 100px;
    width: 73%;
    padding: 1%;
    background-color: #373738;
}

li {
    display: inline;
    padding: 50px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

#bottomNav {
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
